.rodape{
    display: flex;
    margin: 0;
    background-color: var(--cor-navbar);
    flex-direction: column;
}
.rodape-div{
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.rodape-titulo{
    margin: 0;
    font-size: 1.1rem;
}

.rodape-texto{
    margin: 5px;

    font-size: 0.9rem;
}
.rodape-texto-final{
    margin-top: 10px;
    font-size: 0.8rem;
}

.rodape-texto-link{
    text-decoration: none;
    color: var(--cor-principal);
}
.rodape-texto-link:hover{
    color: var(--cor-secundaria);
    transition: 0.3s;
}

.fa-icons{
    font-size: 1.2rem;
    color: var(--cor-principal);
    margin: 10px;
}
.fa-icons:hover{
    color: var(--cor-secundaria);
    font-size: 1.3rem;
    transition: 0.3s;
}