@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-background: rgb(31, 31, 31);
    --cor-navbar: rgb(24, 24, 24);
    --cor-principal: #c34de4;
    --cor-secundaria: #9d2baf;
    --cor-texto: white;
}

body {
    margin: 0;
    background-color: var(--cor-background);
    font-family: 'Roboto', sans-serif;
    color: var(--cor-texto);
}

.titulo-quadra {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    color: var(--cor-principal);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.imagem-quadra {
    width: 500px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.info-quadra {
    max-width: 500px;
    margin-left: 30px;
    font-size: 1.1rem;
    color: #fff;
}

.info-quadra h3 {
    font-size: 1.5rem;
    color: var(--cor-principal);
}

.preco {
    font-weight: bold;
}

.preco-valor {
    font-size: 1.2rem;
    color: var(--cor-principal);
}

.inputs-data {
    display: flex;
    gap: 10px;
}

.input-data, .input-hora {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: var(--cor-navbar);
    color: var(--cor-texto);
}

.input-data:focus, .input-hora:focus {
    border-color: var(--cor-principal);
    outline: none;
}

.botao-pagar {
    display: inline-block;
    margin-top: 20px;
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s;
}

.botao-pagar:hover {
    background-color: var(--cor-secundaria);
    cursor: pointer;
}

.descricao-quadra {
    text-align: center;
    font-size: 1.1rem;
    margin: 30px 40px;
    color: #ccc;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
