:root{
    --cor-background: rgb(31, 31, 31);
    --cor-navbar: rgb(24, 24, 24);
    --cor-principal: #c34de4;
    --cor-secundaria: #9d2baf;
}


.historia-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 740px;
}
.historia-container-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}
.historia-titulo{
    font-size: 1.8rem;
}